* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./sections/header";


// main

.titulo {
    @extend %estiloTitulo;
}

.mainTitle {
    display: flex;
    width: 95vw;
    font-family: 'Qwitcher Grypen', cursive;
    margin: 0 auto;
    color: #ffffff;
    background-color: #000000;
    justify-content: center;
    @include tituloPrincipal (16vw);
}

h3 {
    display: flex;
    font-family: 'Qwitcher Grypen', cursive;
    justify-content: center;
    font-size: 50px;
}

.imgTitle {
    display: inline-block;
    width: 100vw;
}

p {
    color: #fff;
    margin: 0 auto;
    padding: 10px 10px;
    background-color: #000;
}

.section {
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;

    img {
        width: 98vw;
        margin: 0 auto;
    }
}

.videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    iframe {
        margin: 0 auto;
        width: 48vw;
    }
}

/* footer */

.contact {
    margin: 10px 30px;
}

.footer {

    .contactLinks {
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
        background-color: #000;
    }
    a {
        display: flex;
        justify-content: center;
        margin: 20px 20px;
        background-color: #000;
        color: #fff;
    }
}